<!doctype html>
<html>
<head>
	<title class="appTitle">Movie Application</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<script src="/javascripts/clickActions.js" type="text/javascript"></script>
</head>
<body>

	<header>
		<img src="/images/cinema.jpg" alt="logo" class="logo-class">
		<p>
		<center>
			<h3 class="appTitle">Movie Application</h3>
		</center>
	</header>
	<div class="panel-body bodyApp">
		{{{body}}}
	</div>
	

</body>
</html>


