
<div class="homeButtons">
     <button class='viewButton' onclick="redirectForUsers()">Go to User View</button>
     <button class='viewButton' onclick="redirectForAdmin()">Go to Admin View</button>
    
     <script src="/path/to/clickActions.js"></script>
</div>

